 .u-section-1 {
  min-height: 717px;
}

.u-section-1 .u-image-1 {
  height: 715px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1.6;
  font-weight: 100;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -405px auto 0;
}

.u-section-1 .u-image-2 {
  width: 42px;
  height: 41px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 191px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    margin-top: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-2 {
    margin-top: 154px;
  }
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  color: #ffffff !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  color: #ffffff !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 716px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 58px auto 0 479px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 38px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -22px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 26px 0 0;
}

.u-section-2 .u-image-2 {
  width: 42px;
  height: 41px;
  margin: 131px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 52px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -19px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 67px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 56px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 52px;
  }

  .u-section-2 .u-image-1 {
    height: 36px;
    margin-top: -12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 109px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-2 .u-image-1 {
    height: 23px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-top: 29px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 89px;
    margin-bottom: 52px;
  }
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-2 {
  border-color: transparent !important;
}

.u-section-2 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-2 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 716px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  margin: 57px auto 0;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 38px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -18px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 322px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 5px rgba(128,128,128,1);
  padding: 7px 30px;
}

.u-section-3 .u-image-2 {
  width: 101px;
  height: 101px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 322px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 5px rgba(128,128,128,1);
  padding: 7px 30px;
}

.u-section-3 .u-image-3 {
  width: 101px;
  height: 101px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 19px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 322px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 5px rgba(128,128,128,1);
  padding: 7px 30px;
}

.u-section-3 .u-image-4 {
  width: 101px;
  height: 101px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 7px auto 0;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 19px 0 0;
}

.u-section-3 .u-image-5 {
  width: 42px;
  height: 41px;
  margin: 57px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 67px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 325px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 2px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 325px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 325px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-text-8 {
    margin-top: 12px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 93px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-image-1 {
    margin-top: -21px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 40px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    margin-top: 19px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 358px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 0;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
    width: auto;
    margin-top: 19px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1038px;
  }

  .u-section-3 .u-image-1 {
    height: 36px;
    margin-top: -16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 23px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 255px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 254px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 260px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 6px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 57px;
    margin-bottom: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1123px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -17px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 6px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 43px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 285px;
  }

  .u-section-3 .u-image-5 {
    margin-bottom: 60px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 716px;
}

.u-section-4 .u-line-1 {
  left: 380px;
  top: 313px;
  transform-origin: center top 0px;
  position: absolute;
  height: 280px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-line-2 {
  left: auto;
  top: 313px;
  transform-origin: center top 0px;
  position: absolute;
  height: 280px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  right: 394px;
}

.u-section-4 .u-text-1 {
  font-weight: normal;
  margin: 58px auto 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 38px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -19px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1060px;
  margin: 26px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 184px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 102px;
  height: 102px;
  margin: -4px auto 0 20px;
}

.u-section-4 .u-text-2 {
  font-weight: bold;
  font-size: 1rem;
  margin: -62px 0 0 121px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 184px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 12px;
}

.u-section-4 .u-image-3 {
  width: 101px;
  height: 101px;
  margin: -3px auto 0 18px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: -63px 3px 0 131px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 184px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 19px;
}

.u-section-4 .u-image-4 {
  width: 101px;
  height: 101px;
  margin: -4px auto 0 11px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: -63px 0 0 124px;
}

.u-section-4 .u-layout-wrap-2 {
  width: 1060px;
  margin: 28px auto 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 312px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-image-5 {
  width: 70px;
  height: 70px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 8px auto 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 12px 1px 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 312px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-4 .u-image-6 {
  width: 70px;
  height: 70px;
  margin: 0 auto 0 2px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 13px auto 0 0;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 312px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 30px 0;
}

.u-section-4 .u-image-7 {
  width: 70px;
  height: 70px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-9 {
  font-weight: bold;
  margin: 8px auto 0 0;
}

.u-section-4 .u-text-10 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-4 .u-image-8 {
  width: 42px;
  height: 41px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-4 .u-line-1 {
    left: 293px;
    top: 302px;
  }

  .u-section-4 .u-line-2 {
    top: 302px;
    right: 305px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 163px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-4 .u-image-2 {
    width: 101px;
    height: 101px;
    margin-top: 0;
    margin-left: 15px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -61px;
    margin-right: -30px;
    margin-left: 109px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 163px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 7px 15px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    font-size: 0.875rem;
    margin-top: -61px;
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 163px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 7px 10px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 0;
    margin-left: 5px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    font-size: 0.875rem;
    margin-left: 106px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 277px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 277px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 277px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-4 .u-line-1 {
    left: 220px;
    top: 340px;
  }

  .u-section-4 .u-line-2 {
    top: 340px;
    right: 219px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 156px;
  }

  .u-section-4 .u-image-2 {
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: -11px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 156px;
  }

  .u-section-4 .u-image-3 {
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: -11px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 156px;
  }

  .u-section-4 .u-image-4 {
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: -11px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-8 {
    margin-top: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 36px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 160px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -7px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 154px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    width: 397px;
    margin-top: -13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: -4px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1513px;
  }

  .u-section-4 .u-image-1 {
    height: 23px;
    margin-top: -11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 18px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    width: 320px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-image-1 {
  width: 423px;
  height: 338px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 13px auto 0 49px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  margin: -296px 31px 0 570px;
}

.u-section-5 .u-btn-1 {
  margin: 21px 394px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    width: 355px;
    height: 284px;
    margin-top: 58px;
    margin-left: 11px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -262px;
    margin-right: 11px;
    margin-left: 391px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: auto;
    margin-bottom: 118px;
    margin-left: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-5 .u-image-1 {
    width: 440px;
    height: 328px;
    margin-top: 34px;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    width: 539px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 45px;
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-5 .u-image-1 {
    height: 253px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-5 .u-image-1,
.u-section-5 .u-image-1:before,
.u-section-5 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}



html {
  scroll-behavior: smooth;
  font-family: sans-serif, Raleway;
}

body {
  margin: 0 auto;
  background-color: #222;
}